</main>
<footer class="site-footer">
    <div class="container">
       <div class="site-footer-wrapper">
            <p class="footer-text logo-text">ToDoApp</p>
            <p class="footer-text">&copy; Barcha huquqlar himoyalangan, <%= new Date().getFullYear() %>yil</p>
       </div>
    </div>
</footer>
</body>
</html>