<header class="site-header">
    <nav class="site-nav">
       <a href="/" class="logo-text">ToDoApp</a>
       <ul class="nav-list">
        <li class="nav-item">
            <a href="/" class="nav-link">Asosiy menyu</a>
        </li>
        <li class="nav-item">
            <a href="/task/new" class="nav-link">Yangi vazifa qo'shish</a>
        </li>
       </ul>
    </nav>
</header>