<%- include("./partials/head.ejs") %>



<div class="container">
    <h1 class="main-title">
        Yangi vazifa qo'shish
    </h1>
    <form class="todo-form" action="/task" method="POST">
        <input required class="todo-input" type="text" name="todo_title" placeholder="Vazifa uchun sarlavha..." />
        <textarea required class="todo-input" type="text" name="todo_desc" placeholder="Vazifa uchun tavsif..."></textarea>
        <button class="todo-btn">Saqlash</button>
    </form>
</div>










<%- include("./partials/foot.ejs") %>
