<%- include("./partials/head.ejs") %>



<div class="container">
    <h1 class="main-title">
        Vazifalar jadvali
    </h1>
    <div class="task-table-wrapper">
        <table class="task-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nomi</th>
                    <th>Tavsifi</th>
                    <th>Holati</th>
                    <th>Boshqarish</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>New todo</td>
                    <td>Something</td>
                    <td>Kutilyapti...</td>
                    <td><button>Click</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>










<%- include("./partials/foot.ejs") %>
