/* Main style */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1320px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.site-main {
    display: flex;
    flex: 1;
    padding-bottom: 120px;
}



/* Header style  */


.site-header {
    padding: 20px;
    background-color:black;
}

.site-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    list-style-type: none;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
}


.nav-link::before {
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    
}

.nav-item:first-child .nav-link::before {
    background: url("../icons/home.webp") no-repeat center;
    background-size: 20px;
}


.nav-item:nth-child(2) .nav-link::before {
    background: url("../icons/todo.png") no-repeat center;
    background-size: 20px;
}


.nav-link:hover {
    color: limegreen; 
}





/* Shared style  */

.main-title {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
}






/* Home page style */

.task-table-wrapper {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
}

.task-table th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    background-color: limegreen;
}

.task-table td, th {
    border: 2px solid #cccccc;
    text-align: center;
    padding: 1rem;
}

.task-table tr:nth-child(odd) {
    background-color: #ddddddad;
}

.task-table tr:has(td):hover {
    background-color: #cccccca2;
}

.completed-input {
    display: none;
}



.completed-label {
    position: relative;
    display: flex;
    margin: 0 auto; 
    flex-grow: 1;
    height: 2.2rem;
    background-color: #cccccce1;
    border-radius: 1.5rem;
    cursor: pointer;
}

.completed-label::before {
    content: "Kutilyapti";
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    width: 109px;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: inherit;
    color: white;
    transition: 0.2s ease;
}


.completed-input:checked + label::before {
    left: 58%;
    content: "Bajarildi";
    background-color: rgba(0, 128, 0, 0.66);
 }


 .todo-row:has(.completed-input:checked) {
    opacity: 0.8;
    background-color: rgba(107, 238, 0, 0.662);
 }

 .status-cell {
    min-width: 120px;
 }

 .completed-cell {
    min-width: 185px !important;
    max-width: 185px !important;
 }

 .todo-form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 2rem;
    gap: 1rem;
    align-items: center;
 }

 .todo-input {
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.4rem;
 }

 textarea.todo-input {
    min-height: 80px;
    max-height: 140px;
    resize: vertical;
 }

 .todo-btn {
    flex-grow: 1;
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 0.4rem;
    background-color: rgba(50, 205, 50, 0.826);
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
 }

 .todo-btn:active {
    transform: scale(0.95);
 }

 .btn {
    min-width: 110px;
    padding: 0.8rem;
    border: none;
    border-radius: 0.4rem;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
 }

 .btn:active {
    transform: scale(0.95);
 }

 .btn-edit {
    background-color: rgb(59, 156, 241);
 }

 .btn-delete {
    background-color: rgba(255, 0, 0, 0.781);
 }


 /* Footer styles */

.site-footer {
    padding: 20px;
    background-color: #000;
}


 .site-footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
 }
 
 .footer-text {
    margin: 0;
    color: #fff;
 }

 .logo-text {
    font-size: 24px;
    font-family: monospace;
    color: limegreen;
    text-decoration: none;
 }