/* Main style */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1320px;
    width: 100%;
    padding: 0 20px;
}

.site-main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* Header style  */


.site-header {
    padding: 20px;
    background-color:black;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    list-style-type: none;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
}


.nav-link::before {
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    
}

.nav-item:first-child .nav-link::before {
    background: url("../icons/home.webp") no-repeat center;
    background-size: 20px;
}


.nav-item:nth-child(2) .nav-link::before {
    background: url("../icons/todo.png") no-repeat center;
    background-size: 20px;
}


.nav-link:hover {
    color: limegreen; 
}





/* Shared style  */

.main-title {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
}






/* Home page style */

.task-table-wrapper {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
}

.task-table th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    background-color: limegreen;
}

.task-table td, th {
    border: 2px solid #cccccc;
    text-align: center;
    padding: 1rem;
}

.task-table tr:nth-child(odd) {
    background-color: #ddddddad;
}

.task-table tr:has(td):hover {
    background-color: #cccccca2;
}
